---
layout: test-mark
title: 令和3年度　創英予備学校　大学入学共通テスト模擬試験
subject: 理科②
subt: 〔物理・化学・生物・地学〕
type: 問題用紙
marktype: science2
---
%section#q1
  %p
    %span.gothic.question-code 第１問
    次の問い（
    %b A
    ・
    %b B
    ）に答えよ。
    %p.text
      次の問い（
      %span.gothic 問１〜３
      ）において，下線部の発音がほかの三つと
      %san.gothic 異なるもの
      を，
      %span.icon-m1
      〜
      %span.icon-m4
      のうちから一つずつ選べ。
  %p
    %span.gothic> 問１
    = "&nbsp;"
    %span.center-qnb １
  %p.text
    %span.icon-m1
    %u> sc
    arce
    = "&nbsp;"
    %span.icon-m2
    %u> sc
    enery
    = "&nbsp;"
    %span.icon-m3
    %u> sc
    ratch
    = "&nbsp;"
    %span.icon-m4
    %u> sc
    ream
