---
layout: default
---
%section#frontpage
  %p
    %span.front-caution 試験開始の合図があるまで，この問題冊子の中を見てはいけません。
  .centered
    %h3.testname= "{{ page.title }}"
    .row
      %h1.subject.row-inside="{{ page.subject }}"
      %h1.small.subject.row-inside= "{{ page.subt }}"
    %h3.testname= "{{ page.type }}"
    %p.gothic 注意事項
  .text
    %ol
      %li
        答案用紙に，正しく記入・マークされていない場合は，採点できないことがあります。特に，解答用紙の解答科目欄にマークされていない場合又は複数の科目にマークされている場合は，0点となります。
        %br>/
        ただし，出願時にドイツ語，フランス語，中国語及び韓国語の問題冊子の配付を希望しなかった者は英語として採点します。
      %li
        この問題冊子は，30ページあります。
        %br>/
        試験中に問題冊子の印刷不鮮明，ページの落丁・乱丁及び解答用紙の汚れ等に気付いた場合は，手を高く挙げて監督者に知らせなさい。
      %li
        解答は，解答用紙の指定された問題番号が示されている欄に書きなさい。
      %li 問題冊子の余白等は適宜使用してよいが，どのページも切り離してはいけません。
      %li
        %span.gothic 不正行為について
        %ol
          %li 不正行為に対しては厳正に対処します。
          %li 不正行為に見えるような行為が見受けられた場合は，監督者がカードを用いて注意します。
          %li 不正行為を行った場合は，その時点で受験を取りやめさせ退室させます。
      %li 試験終了後，問題冊子は持ち帰りなさい。2
.change-page
{{ content }}